/**Variables police et couleurs**/
body {
  font-family: "Shrikhand" "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-width: 768px;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
header .header__img {
  width: 60%;
  padding-top: 10%;
  padding-left: 18%;
}

#loc {
  display: flex;
  padding-left: 65px;
  background-color: #f3f3f3;
}
#loc .loc__icon {
  font-size: 30px;
  padding-top: 13px;
}
#loc .loc__text {
  font-size: 22px;
  font-weight: 300;
  padding-left: 25px;
}

#Presentation {
  padding: 2rem;
  text-align: center;
  background-color: rgba(250, 250, 250, 0.7294117647);
}
#Presentation .Presentation__texte {
  display: block;
  font-family: Shrikhand, sans-serif;
  justify-content: center;
  font-size: 26px;
  padding: 4%;
  margin: 0;
  text-align: center;
}
#Presentation .Presentation__soustitre {
  width: 310px;
  font-size: 20px;
}
#Presentation .Presentation__btn {
  background-color: #9356DC;
  color: white;
  border-radius: 25px;
  font-size: 16px;
  height: 55px;
  width: 220px;
  font-family: Shrikhand, sans-serif;
  border: #9356DC;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}

h2 {
  padding-left: 5%;
  font-family: Shrikhand, sans-serif;
}

.Fonctionnement {
  background-color: white;
  margin-right: 20px;
}
.Fonctionnement .option {
  list-style: none;
  padding-top: 10px;
  counter-reset: compteListe;
}
.Fonctionnement .option li {
  font-size: 22px;
  padding-left: 15px;
  padding-top: 20px;
  border: solid rgba(250, 250, 250, 0.7294117647);
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-radius: 18px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  background-color: rgba(250, 250, 250, 0.7294117647);
}
.Fonctionnement .option li::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -0.75rem;
  margin-left: 40px;
  margin-top: 1px;
}

.option i {
  color: #8c9391;
  padding-left: 10px;
}

.option a {
  padding-left: 15px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: black;
  font-size: 18px;
}

#Restaurants {
  background-color: rgba(250, 250, 250, 0.7294117647);
  padding-top: 30px;
}

#cards {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
  padding: 5%;
}
#cards .card {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
#cards .card .card a {
  margin-bottom: -20px;
}
#cards .card .card__images {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}
#cards .card .card__new {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  margin-top: 10px;
  border-radius: 0.125rem;
  position: absolute;
  right: 0.75rem;
}
#cards .card__footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: -30px;
}
#cards .card__footer .card__content {
  margin-top: -25px;
}
#cards .card__footer .card__content .card__nom {
  font-size: j20px;
  WIDTH: 200px;
  margin-top: -10px;
}
#cards .card__footer .card__content .card__localisation {
  margin-top: -10px;
  font-size: 20px;
}
#cards .card__btn {
  font-size: 25px;
  height: 80px;
  padding-left: 20%;
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer .footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-size: 22px;
}
.footer .Items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer__items {
  margin: 0.5rem 0;
  font-size: 19px;
}
.footer .footer__items:first-child {
  margin-top: 0;
}
.footer .footer__items:last-child {
  margin-bottom: 0;
}
.footer .footer__liens {
  color: white;
  text-decoration: none;
}
.footer .footer__liens:hover {
  text-decoration: underline;
}
.footer .footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}/*# sourceMappingURL=homepage.css.map */