$font-stack:Shrikhand,sans-serif;
$font-texte:Roboto,sans-serif;
$primary-color:#9356DC ;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
body {
    font-family: "Shrikhand", "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 320px;
    max-width: 768px;
    overflow-x: hidden;
  
  }
  header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
   .header__logo{
    width: 50%;
    padding-top: 10%;
    padding-left: 45%;
    margin:-5% 0% -18% 5%;
    .header__img{
        width: 100%;
        margin-left: -44%;
        margin-top: -2%;
        padding-bottom: 7%;
    }
   }
   .header__btn{
    padding-left: 7%;
    padding-bottom: 7%;
    margin-top: -15%;
    .header__icon{
        color: black;
        padding-top: 17px;
        font-size: 25px;
    }
   }
  }
  .entreeImg{
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  margin-top: -3%;
  object-fit: cover;
  }
  .type {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
  
    &__titre {
      text-transform: uppercase;
      position: relative;
      padding-bottom: 0.5rem;
      font-weight: normal;
  
      &::after {
        content: "";
        width: 3rem;
        height: 0.25rem;
        background-color: $tertiary-color;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
  @keyframes itemAppear {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
  }
  .typeitem {
    background-color: white;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear .8s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(1);
    max-width: 100%;
  
    &__header {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
      flex-direction: column;
    }
    &__nom {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  
    &__carac {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &__prix {
      font-weight: 900;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-left: 0.5rem;
    }
  
    &__confirmation {
      background-color: $tertiary-color;
      margin: -1rem -5rem -1rem 1rem;
      width: 4rem;
      display:flex;
      align-items:center;
      justify-content:center;
      transition-duration: 0.5s;
    }
    &:hover &__confirmation {
      margin-right: -1rem;
    }
  
    &__checkIcon {
      height: 1.6rem;
      width: 1.6rem;
      background-color: white;
      display:flex;
      align-items:center;
      justify-content:center;
      border-radius: 100px;
      transform: rotate(180deg);
      transition-duration: 0.5s;
  
    }
  
    &:hover &__checkIcon {
      transform: rotate(0);
    }
    &__icon {
      color: $tertiary-color;
    }
  }
  
  @for $i from 0 to 9 {
    .delay-#{$i} {
      animation-delay:  #{$i/10}s;
    }
  }
  
  .menu{margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  padding-right: 10px;
  &__header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__titre{
    font-family: "Shrikhand", "cursive";
    font-size: 34px;
    font-style: oblique;
    font-weight: bold;
  }
  .menu__icon{
    font-size: 25px;
  }
  .fa-heart:hover {
    background: linear-gradient(to bottom,#9356dc, #ff79da);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    transition: all 2.5s ease;
    font-weight: 900;
    transform-origin: bottom;
  }
}
.btn {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
  }
.Commander{
      background-color: $primary-color;
      color: white;
      border-radius: 25px;
      font-size: 16px;
      height: 55px;
      width: 220px;
      font-family: $font-stack;
      border:$primary-color;
      background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
      transition-duration: .25s;
      box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
      cursor: pointer;
      &:hover {
        background-color: white;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);}
      @media (min-width:993px){
        margin-left: -15%;
      }
  }
.footer{
    background-color: #353535;
    .container {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }
    .footer__logo {
      color: white;
      font-family: "Shrikhand", "cursive";
      margin: 0;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      font-size: 22px
    }
  
    .Items {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    .footer__items {
      margin: 0.5rem 0;
      font-size: 19px;
  
      &:first-child {
        margin-top: 0;
      }
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    .footer__liens {
      color: white;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
    .footer__icon {
      width: 1.2rem;
      margin-right: 0.5rem;
    }
  
  }
